@import './var.scss';

@mixin hideMobile {
  @media (min-width: 768px) {
    display: none;
  }
}

@mixin fixedPosition {
  width: 100%;
  position: fixed;
  z-index: 2;
}

@mixin flex-center-x {
  display: flex;
  justify-content: center;
}

@mixin paddingX {
  padding: 0 110px 0 110px;
  @media (width <= 990px) {
  padding: 0 20px 0 20px;
  }
}

//font mixin primary
@mixin primary-font-regular {
  font-family: 'Axiforma', sans-serif;
  font-weight: 400;
}

@mixin primary-font-medium {
  font-family: 'Axiforma', sans-serif;
  font-weight: 500;
}

@mixin primary-font-semibold {
  font-family: 'Axiforma', sans-serif;
  font-weight: 600;
}

//font mixin secondary
@mixin secondary-font-light {
  font-family: 'SF Pro', sans-serif;
  font-weight: 300;
}

@mixin secondary-font-regular {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
}

@mixin secondary-font-medium {
  font-family: 'SF Pro', sans-serif;
  font-weight: 500;
}

@mixin secondary-font-semibold {
  font-family: 'SF Pro', sans-serif;
  font-weight: 600;
}

@mixin marginY {
  margin: 100px auto 100px auto;
  @media (width <= 990px) {
    margin: 30px 0 50px 0;
    // margin: 0;
  }
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin logoImage {
  width: 200px;
  height: 20px;
}

@mixin fastAppear {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
  animation-delay: 0.2s;
}

@mixin slowAppear {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 0.5s;
}
