//Colors
$color-1: #1A3437;
$color-2: #4F6667;
$color-3: #879896;
$color-4: #ED702D;
$color-5: #F5C142;
$color-6: #5B5A59;
$color-7: #DDDDDD;
$color-8: #F4F4F4;
$color-9: #8A8B91;
//Sizes
$w-100: 100%;
//fonts
$font-1: Arial, Helvetica, sans-serif;
//Margin
$mr-0: 0px;
$mr-40: 40px;
//Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//fonts-face

//Primary
@font-face {
  font-family: 'Axiforma';
  src: url('/src/fonts/Axiforma\ Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('/src/fonts/Axiforma\ Medium.otf') format('opentype');
        font-weight: 500;
        font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('/src/fonts/Axiforma\ SemiBold.otf') format('opentype');
        font-weight: 600;
        font-style: normal;
}


//Secondary
@font-face {
  font-family: 'SF Pro';
  src: url('/src/fonts/SF-Pro-Display-Light.otf') format('opentype');
        font-weight: 300;
        font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/src/fonts/SF-Pro-Text-Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/src/fonts/SF-Pro-Display-Medium.otf') format('opentype');
        font-weight: 500;
        font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/src/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
        font-weight: 600;
        font-style: normal;
}